@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

@theme {
    --font-header: "Alfa Slab One", "sans-serif";
    --font-display: "Oswald", "sans-serif";
}


@layer base {
    body {
        @apply bg-amber-50 font-display;
    }


    @keyframes slide {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-100%);
        }
    }

    .logos {
        overflow: hidden;
        padding: 60px 0;
        white-space: nowrap;
        position: relative;
    }

    .logos:before,
    .logos:after {
        position: absolute;
        top: 0;
        width: 250px;
        height: 100%;
        content: "";
        z-index: 2;
    }

    .logos-slide {
        display: inline-block;
        animation: 35s slide infinite linear;
    }

    .logos-slide img {
        height: 50px;
        margin: 0 40px;
    }
}